<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FusaCheck{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    {% block head_extra %}{% endblock %}
</head>
<body {% block body_attributes %}{% endblock %}>

    {% block content %}{% endblock %}

    {% block scripts %}{% endblock %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
                const FLASH_MESSAGES = {{ messages|tojson|safe }};
            </script>
        {% endif %}
    {% endwith %}

    <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>

</body>
</html>