<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}FusaCheck{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}" type="image/x-icon">
    
    {# Placeholder untuk diisi oleh layout_main.html #}
    {% block head_extra %}{% endblock %}
</head>
<body {% block body_attributes %}{% endblock %}>

    {# Placeholder untuk semua konten visual #}
    {% block content %}{% endblock %}

    {# Placeholder untuk file JavaScript #}
    {% block scripts %}{% endblock %}
</body>
</html>