{% extends 'layouts/layout_admin.html' %}

{% block admin_title %}Dashboard{% endblock %}

{% block admin_content %}
    <h1>Log Deteksi</h1>
    <div id="alert-container"></div>
    <div class="data-header">
        <h2>Semua Data Deteksi</h2>
        <button class="delete-all-btn" onclick="confirmDeleteAll()">
            <i class="fas fa-trash-alt"></i> Hapus Semua
        </button>
    </div>

    <table>
        <thead>
            <tr>
                <th>No</th>
                <th>Tanggal</th>
                <th>Pengguna</th>
                <th>Hasil Deteksi</th>
                <th>Akurasi</th>
                <th>Foto</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody id="logTableBody">
            </tbody>
    </table>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/admin/dashboard.js') }}"></script>
{% endblock %}